Repository kookmin-sw/capstone-2022-24, pull requests merged in 2022-04, with the labels that each got.

#70 <#040> 홈 페이지 렌더링
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#66 <#054> OTT 관련 Model, Serializer 작성
  src/back-end/web/config/settings/base.py
  src/back-end/web/providers/admin.py
  src/back-end/web/providers/apps.py
  src/back-end/web/providers/migrations/0001_initial.py
  src/back-end/web/providers/migrations/0002_alter_provider_logo_key.py
  src/back-end/web/providers/models.py
  src/back-end/web/providers/serializers.py
Labels: enhancement, back-end

#64 <#055> 계좌 Model 및 Serializer 구성
  .github/workflows/dev-be-api-ci.yml
  src/back-end/web/accounts/admin.py
  src/back-end/web/accounts/migrations/0001_initial.py
  src/back-end/web/accounts/migrations/0002_account_bank_delete_accounts_delete_banks_and_more.py
  src/back-end/web/accounts/models.py
  src/back-end/web/accounts/serializers.py
Labels: enhancement, back-end

#73 <#072> 중간발표 문서 추가
  docs/mid/.gitkeep
  docs/midterm/팀24-중간발표자료.pdf
  src/back-end/web/ENV_FILE_FORMAT.md
  src/back-end/web/README.md
Labels: documentation

#74 <#034> 깃헙 페이지 중간발표 최종 업데이트
  README.md
  docs/_config.yml
  docs/assets/css/style.scss
  docs/index.md
  docs/service_icon.png
  docs/service_logo.png
  service_icon.png
Labels: documentation

#75 <#065> 마이페이지 회원 정보 표시
  src/front-end/src/App.vue
  src/front-end/src/api/http.js
  src/front-end/src/components/GNB.vue
  src/front-end/src/components/userVideos.vue
  src/front-end/src/mocks/handlers/groups.js
  src/front-end/src/mocks/handlers/index.js
  src/front-end/src/mocks/handlers/oauth.js
  src/front-end/src/mocks/handlers/register.js
  src/front-end/src/mocks/handlers/user.js
  src/front-end/src/router/index.js
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/auth.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/views/Expand.vue
  src/front-end/src/views/My.vue
  src/front-end/src/views/Register.vue
  src/front-end/vetur.config.js
Labels: enhancement, front-end

#62 <#028> 사용자 model 및 serializer 구성
  src/back-end/web/ENV_FILE_FORMAT.md
  src/back-end/web/README.md
  src/back-end/web/accounts/migrations/0001_initial.py
  src/back-end/web/accounts/migrations/0002_account_bank_delete_accounts_delete_banks_and_more.py
  src/back-end/web/accounts/models.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/users/admin.py
  src/back-end/web/users/migrations/0001_initial.py
  src/back-end/web/users/migrations/0002_user_last_login_date_time_alter_user_last_login.py
  src/back-end/web/users/models.py
  src/back-end/web/users/serializers.py
Labels: enhancement, back-end

#82 <#044> 모임장 신청 Model 및 Serializer 작성
  src/back-end/web/applies/admin.py
  src/back-end/web/applies/migrations/0001_initial.py
  src/back-end/web/applies/migrations/0002_alter_leaderapply_options.py
  src/back-end/web/applies/migrations/0003_alter_leaderapply_options.py
  src/back-end/web/applies/models.py
  src/back-end/web/applies/serializers.py
  src/back-end/web/payments/admin.py
  src/back-end/web/payments/migrations/0002_alter_payment_category_alter_payment_method_and_more.py
  src/back-end/web/payments/migrations/0003_alter_payment_status.py
  src/back-end/web/payments/models.py
  src/back-end/web/providers/models.py
Labels: enhancement, back-end

#85 <#053> 모임 Model 및 Serializer 작성
  src/back-end/web/config/settings/base.py
  src/back-end/web/group_accounts/__init__.py
  src/back-end/web/group_accounts/admin.py
  src/back-end/web/group_accounts/apps.py
  src/back-end/web/group_accounts/migrations/0001_initial.py
  src/back-end/web/group_accounts/migrations/0002_alter_groupaccount_creation_date_time_and_more.py
  src/back-end/web/group_accounts/migrations/__init__.py
  src/back-end/web/group_accounts/models.py
  src/back-end/web/group_accounts/serializers.py
  src/back-end/web/group_accounts/tests.py
  src/back-end/web/group_accounts/views.py
  src/back-end/web/groups/admin.py
  src/back-end/web/groups/migrations/0001_initial.py
  src/back-end/web/groups/migrations/0002_alter_group_status.py
  src/back-end/web/groups/models.py
  src/back-end/web/groups/serializers.py
Labels: enhancement, back-end

#83 <#051> 모임원 신청 Model 및 Serializer 작성
  src/back-end/web/applies/admin.py
  src/back-end/web/applies/migrations/0004_memberapply.py
  src/back-end/web/applies/models.py
  src/back-end/web/applies/serializers.py
  src/back-end/web/providers/migrations/0003_alter_provider_name.py
  src/back-end/web/providers/models.py
Labels: enhancement, back-end

#77 <#076> 깃허브 설정 업데이트
  .github/workflows/dev-fe-ci.yml
  .pre-commit-config.yaml
  _config.yml
  package-lock.json
  service_icon.png
  src/back-end/web/.pylintrc
Labels: setting

#89 <#084> 마일리지 Model 및 Serializer 작성
  .pre-commit-config.yaml
  src/back-end/web/config/settings/base.py
  src/back-end/web/mileages/__init__.py
  src/back-end/web/mileages/admin.py
  src/back-end/web/mileages/apps.py
  src/back-end/web/mileages/migrations/0001_initial.py
  src/back-end/web/mileages/migrations/__init__.py
  src/back-end/web/mileages/models.py
  src/back-end/web/mileages/serializers.py
  src/back-end/web/mileages/tests.py
  src/back-end/web/mileages/views.py
Labels: enhancement, back-end

#90 <#058> 알림 Model 및 Serializer 작성
  src/back-end/web/notifications/admin.py
  src/back-end/web/notifications/apps.py
  src/back-end/web/notifications/migrations/0001_initial.py
  src/back-end/web/notifications/models.py
  src/back-end/web/notifications/serializers.py
Labels: enhancement, back-end

#86 <#057> 구성원 Model 및 Serializer 작성
  src/back-end/web/fellows/admin.py
  src/back-end/web/fellows/apps.py
  src/back-end/web/fellows/migrations/0001_initial.py
  src/back-end/web/fellows/models.py
  src/back-end/web/fellows/serializers.py
  src/back-end/web/fellows/tests.py
  src/back-end/web/fellows/views.py
Labels: enhancement, back-end

#117 <#056> 송금 Model 및 Serializer 작성
  src/back-end/web/remittances/admin.py
  src/back-end/web/remittances/apps.py
  src/back-end/web/remittances/migrations/0001_initial.py
  src/back-end/web/remittances/migrations/0002_alter_remittance_payment_and_more.py
  src/back-end/web/remittances/models.py
  src/back-end/web/remittances/serializers.py
  src/back-end/web/remittances/tests.py
  src/back-end/web/remittances/views.py
Labels: enhancement, back-end

#115 <#060> 최근 조회 Model 및 Serializer 작성
  src/back-end/web/recent_views/admin.py
  src/back-end/web/recent_views/apps.py
  src/back-end/web/recent_views/migrations/0001_initial.py
  src/back-end/web/recent_views/models.py
  src/back-end/web/recent_views/serializers.py
  src/back-end/web/recent_views/tests.py
  src/back-end/web/recent_views/views.py
  src/back-end/web/videos/models.py
Labels: enhancement, back-end

#116 <#061> 별점 Model 및 Serializer 작성
  src/back-end/web/star_ratings/admin.py
  src/back-end/web/star_ratings/apps.py
  src/back-end/web/star_ratings/migrations/0001_initial.py
  src/back-end/web/star_ratings/migrations/0002_alter_starrating_value.py
  src/back-end/web/star_ratings/models.py
  src/back-end/web/star_ratings/serializers.py
  src/back-end/web/star_ratings/tests.py
  src/back-end/web/star_ratings/views.py
Labels: enhancement, back-end

#101 <#096> 각종 태그 및 마일스톤 관련 설정
  .github/ISSUE_TEMPLATE/feature-template.md
  .github/pull_request_template.md
  .github/workflows/pr-support.yml
  .github/workflows/tag-addition.yml
  .github/workflows/weekly-milestones.yml
  .pre-commit-config.yaml
Labels: setting

#88 <#038> 작품 Model 및 Serializer 구성
  .gitignore
  .pre-commit-config.yaml
  src/back-end/crawler/README.md
  src/back-end/crawler/check_laftel.py
  src/back-end/crawler/crawling_base.py
  src/back-end/crawler/crawling_details.py
  src/back-end/crawler/crawling_providers.py
  src/back-end/crawler/crawling_sample.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/recent_views/migrations/0001_initial.py
  src/back-end/web/requirements.txt
  src/back-end/web/video_providers/__init__.py
  src/back-end/web/video_providers/admin.py
  src/back-end/web/video_providers/apps.py
  src/back-end/web/video_providers/models.py
  src/back-end/web/video_providers/serializer.py
  src/back-end/web/video_providers/tests.py
  src/back-end/web/video_providers/urls.py
  src/back-end/web/video_providers/views.py
  src/back-end/web/video_total_counts/__init__.py
  src/back-end/web/video_total_counts/admin.py
  src/back-end/web/video_total_counts/apps.py
  src/back-end/web/video_total_counts/models.py
  src/back-end/web/video_total_counts/serializer.py
  src/back-end/web/video_total_counts/tests.py
  src/back-end/web/video_total_counts/views.py
  src/back-end/web/videos/admin.py
  src/back-end/web/videos/models.py
  src/back-end/web/videos/serializer.py
  src/back-end/web/videos/views.py
  src/back-end/web/watching_marks/migrations/0001_initial.py
  src/back-end/web/wishes/migrations/0001_initial.py
Labels: enhancement, back-end
