Repository kookmin-sw/capstone-2022-24, pull requests merged in 2022-05, with the labels that each got.

#131 <#071> 모임신청 페이지 렌더링 작업
  .pre-commit-config.yaml
  src/back-end/web/README.md
  src/front-end/env.local
  src/front-end/package-lock.json
  src/front-end/package.json
  src/front-end/src/views/Join.vue
  src/front-end/src/views/PaymentFinish.vue
Labels: enhancement, front-end

#138 <#98> 영화 작품 상세정보 Model 및 Serializer 구현
  src/back-end/web/config/settings/base.py
  src/back-end/web/movie_details/admin.py
  src/back-end/web/movie_details/apps.py
  src/back-end/web/movie_details/migrations/0001_initial.py
  src/back-end/web/movie_details/migrations/__init__.py
  src/back-end/web/movie_details/models.py
  src/back-end/web/movie_details/serializer.py
  src/back-end/web/movie_details/tests.py
  src/back-end/web/movie_details/views.py
Labels: enhancement, back-end

#141 <#130> crawler 코드 개선
  src/back-end/crawler/README.md
  src/back-end/crawler/arrange_data.py
  src/back-end/crawler/check_env.py
  src/back-end/crawler/crawler_base.py
  src/back-end/crawler/crawling_TV.py
  src/back-end/crawler/crawling_movie.py
  src/back-end/crawler/saving_DB.py
  src/back-end/crawler/setting_provider.py
  src/back-end/web/config/settings/local.py
  src/back-end/web/movie_details/__init__.py
  src/back-end/web/tv_details/__init__.py
  src/back-end/web/video_providers/apps.py
  src/back-end/web/video_providers/urls.py
  src/back-end/web/video_providers/views.py
  src/back-end/web/video_total_counts/apps.py
Labels: enhancement, back-end

#127 <#043> 프론트엔드 환경 분리
  .gitignore
  src/front-end/.dockerignore
  src/front-end/Dockerfile-local
  src/front-end/README.md
  src/front-end/docker-compose-local.yml
  src/front-end/docker-entrypoint.sh
  src/front-end/nginx/default.conf.template
  src/front-end/package.json
  src/front-end/src/api/http.js
  src/front-end/src/mocks/handlers/oauth.js
  src/front-end/src/store/modules/auth.js
  src/front-end/vue.config.js
Labels: front-end, setting

#143 <#142> 코드 스타일 통일
  src/back-end/web/movie_details/serializers.py
  src/back-end/web/movie_details/tests.py
  src/back-end/web/tv_details/serializers.py
  src/back-end/web/tv_details/tests.py
  src/back-end/web/video_casts/serializers.py
  src/back-end/web/video_casts/tests.py
  src/back-end/web/video_providers/apps.py
  src/back-end/web/video_providers/serializer.py
  src/back-end/web/video_providers/serializers.py
  src/back-end/web/video_providers/tests.py
  src/back-end/web/video_providers/urls.py
  src/back-end/web/video_providers/views.py
  src/back-end/web/video_total_counts/apps.py
  src/back-end/web/video_total_counts/serializers.py
  src/back-end/web/video_total_counts/tests.py
  src/back-end/web/video_total_counts/views.py
  src/back-end/web/videos/serializers.py
Labels: refactoring, back-end

#144 <078> 홈 페이지 백엔드 api 연결
  src/front-end/src/api/http.js
  src/front-end/src/components/SelectFilter.vue
  src/front-end/src/mocks/handlers/index.js
  src/front-end/src/mocks/handlers/videos.js
  src/front-end/src/router/index.js
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/store/modules/videoList.js
  src/front-end/src/styles/app.css
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#145 <#133> 모임신청 페이지 세부디자인
  src/front-end/src/styles/app.css
  src/front-end/src/views/Join.vue
  src/front-end/src/views/My.vue
  src/front-end/vue.config.js
Labels: front-end

#148 <#147> 도커 환경 수정
  .github/workflows/dev-fe-ci.yml
  src/front-end/Dockerfile
  src/front-end/Dockerfile-local
  src/front-end/README.md
  src/front-end/docker-compose.yml
  src/front-end/nginx/default.conf.template
  src/front-end/package.json
  src/front-end/src/api/http.js
  src/front-end/vue.config.js
Labels: front-end, fix

#155 <#128> 사용자 인증 추가
  .github/workflows/dev-be-api-ci.yml
  .pre-commit-config.yaml
  src/back-end/web/config/middleware/csrf.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/config/settings/development.py
  src/back-end/web/config/settings/local.py
  src/back-end/web/config/settings/production.py
  src/back-end/web/config/urls.py
  src/back-end/web/requirements.txt
  src/back-end/web/users/adapter.py
  src/back-end/web/users/admin.py
  src/back-end/web/users/exceptions.py
  src/back-end/web/users/migrations/0001_initial.py
  src/back-end/web/users/migrations/0002_alter_user_profile_image_url.py
  src/back-end/web/users/migrations/0003_user_is_verified.py
  src/back-end/web/users/migrations/0004_alter_user_cell_phone_number_alter_user_nickname.py
  src/back-end/web/users/models.py
  src/back-end/web/users/serializers.py
  src/back-end/web/users/urls.py
  src/back-end/web/users/validators.py
  src/back-end/web/users/views.py
Labels: enhancement, back-end

#157 <#140> 작품 홈화면 리스트 제공 API 구현
  src/back-end/web/config/exceptions/input.py
  src/back-end/web/config/exceptions/result.py
  src/back-end/web/video_providers/models.py
  src/back-end/web/videos/urls.py
  src/back-end/web/videos/views.py
Labels: enhancement, back-end

#163 <#112> 프로필사진 업로드 API 구현
  src/back-end/web/users/serializers.py
  src/back-end/web/users/urls.py
  src/back-end/web/users/views.py
Labels: enhancement, back-end

#171 <#152> TV 상세정보 API 구현
  .pre-commit-config.yaml
  src/back-end/web/config/exceptions/result.py
  src/back-end/web/videos/detail_views.py
  src/back-end/web/videos/exceptions.py
  src/back-end/web/videos/home_view.py
  src/back-end/web/videos/urls.py
Labels: enhancement, back-end

#169 <#168> 샘플 데이터 추가
  .pre-commit-config.yaml
  src/back-end/web/data.json
  src/back-end/web/users/migrations/0001_initial.py
  src/back-end/web/users/migrations/0002_alter_user_profile_image_url.py
  src/back-end/web/users/migrations/0003_user_is_verified.py
  src/back-end/web/users/migrations/0004_alter_user_cell_phone_number_alter_user_nickname.py
Labels: back-end, setting

#174 <173> jest TypeError 해결
  src/front-end/package-lock.json
  src/front-end/tests/unit/gnb.spec.js
Labels: front-end, fix

#179 <#166> 종료예정작 페이지 세부디자인
  src/front-end/src/mocks/handlers/user.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/views/Discontinue.vue
  src/front-end/src/views/Expand.vue
  src/front-end/src/views/My.vue
Labels: enhancement, front-end

#184 <#159> 홈 페이지 작품 목록 api 호출
  .github/workflows/dev-fe-ci.yml
  src/back-end/crawler/crawler_base.py
  src/back-end/crawler/crawling_TV.py
  src/back-end/crawler/crawling_movie.py
  src/back-end/crawler/saving_DB.py
  src/back-end/crawler/setting_provider.py
  src/back-end/web/accounts/migrations/0001_initial.py
  src/back-end/web/applies/migrations/0001_initial.py
  src/back-end/web/data.json
  src/back-end/web/fellows/migrations/0001_initial.py
  src/back-end/web/group_accounts/migrations/0001_initial.py
  src/back-end/web/groups/migrations/0001_initial.py
  src/back-end/web/mileages/migrations/0001_initial.py
  src/back-end/web/movie_details/migrations/0001_initial.py
  src/back-end/web/notifications/migrations/0001_initial.py
  src/back-end/web/payments/migrations/0001_initial.py
  src/back-end/web/providers/migrations/0001_initial.py
  src/back-end/web/recent_views/migrations/0001_initial.py
  src/back-end/web/remittances/migrations/0001_initial.py
  src/back-end/web/star_ratings/migrations/0001_initial.py
  src/back-end/web/tv_details/migrations/0001_initial.py
  src/back-end/web/tv_details/migrations/0002_alter_tvseason_series.py
  src/back-end/web/users/migrations/0001_initial.py
  src/back-end/web/video_casts/migrations/0001_initial.py
  src/back-end/web/video_casts/migrations/0002_remove_videocast_character_and_more.py
  src/back-end/web/video_providers/migrations/0001_initial.py
  src/back-end/web/video_providers/models.py
  src/back-end/web/video_total_counts/migrations/0001_initial.py
  src/back-end/web/videos/detail_views.py
  src/back-end/web/videos/home_view.py
  src/back-end/web/videos/migrations/0001_initial.py
  src/back-end/web/videos/urls.py
  src/back-end/web/videos/views.py
  src/back-end/web/watching_marks/migrations/0001_initial.py
  src/back-end/web/wishes/migrations/0001_initial.py
  src/front-end/src/store/modules/auth.js
  src/front-end/src/store/modules/videoList.js
  src/front-end/src/views/Expand.vue
  src/front-end/src/views/Home.vue
  src/front-end/src/views/My.vue
Labels: enhancement, front-end

#185 <#178> 샘플 데이터 추가, 변경 및 크롤링 코드 수정
  src/back-end/crawler/arrange_data.py
  src/back-end/crawler/crawling_movie.py
  src/back-end/web/data.json
  src/back-end/web/video_providers/migrations/0001_initial.py
  src/back-end/web/video_providers/models.py
  src/back-end/web/videos/detail_views.py
  src/back-end/web/videos/home_view.py
  src/back-end/web/videos/urls.py
  src/back-end/web/videos/views.py
  src/back-end/web/videos/views/detail_views.py
  src/back-end/web/videos/views/home_views.py
Labels: refactoring, back-end

#188 <#183> 404에러 해결
  src/front-end/src/App.vue
  src/front-end/src/components/GNB.vue
  src/front-end/src/router/index.js
  src/front-end/src/store/modules/auth.js
Labels: bug, front-end

#193 <#191> provider 데이터 오류 수정
  src/back-end/crawler/setting_provider.py
  src/back-end/web/data.json
Labels: back-end, fix

#165 <#095> 마이페이지 조회 API 구현
  src/back-end/web/applies/serializers.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/config/settings/development.py
  src/back-end/web/config/settings/local.py
  src/back-end/web/config/settings/production.py
  src/back-end/web/config/storages/local.py
  src/back-end/web/config/urls.py
  src/back-end/web/data.json
  src/back-end/web/groups/migrations/0002_alter_group_group_account.py
  src/back-end/web/groups/models.py
  src/back-end/web/mypages/__init__.py
  src/back-end/web/mypages/apps.py
  src/back-end/web/mypages/migrations/__init__.py
  src/back-end/web/mypages/pagination.py
  src/back-end/web/mypages/schemas.py
  src/back-end/web/mypages/serializers.py
  src/back-end/web/mypages/tests.py
  src/back-end/web/mypages/urls.py
  src/back-end/web/mypages/views.py
  src/back-end/web/providers/migrations/0002_provider_link.py
  src/back-end/web/providers/models.py
  src/back-end/web/providers/serializers.py
  src/back-end/web/reports/__init__.py
  src/back-end/web/reports/migrations/__init__.py
  src/back-end/web/reports/serializers.py
  src/back-end/web/reports/tests.py
  src/back-end/web/reports/urls.py
  src/back-end/web/reports/views.py
  src/back-end/web/videos/serializers.py
Labels: enhancement, back-end

#196 <#094> 찜 목록/등록/취소 API 구현
  src/back-end/docker-compose-local.yml
  src/back-end/web/config/exceptions/input.py
  src/back-end/web/config/mixins.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/config/urls.py
  src/back-end/web/data.json
  src/back-end/web/groups/migrations/0003_alter_group_group_account.py
  src/back-end/web/groups/models.py
  src/back-end/web/requirements.txt
  src/back-end/web/video_total_counts/migrations/0002_remove_videototalcount_dibs_count_and_more.py
  src/back-end/web/video_total_counts/migrations/0003_remove_videototalcount_id_and_more.py
  src/back-end/web/video_total_counts/models.py
  src/back-end/web/video_total_counts/views.py
  src/back-end/web/videos/migrations/0002_alter_videodetail_video.py
  src/back-end/web/videos/models.py
  src/back-end/web/videos/urls.py
  src/back-end/web/wishes/exceptions.py
  src/back-end/web/wishes/migrations/0002_alter_wish_unique_together.py
  src/back-end/web/wishes/models.py
  src/back-end/web/wishes/schemas.py
  src/back-end/web/wishes/serializers.py
  src/back-end/web/wishes/urls.py
  src/back-end/web/wishes/views.py
Labels: enhancement, back-end

#194 <#159> 작품 목록 api 호출
  src/back-end/crawler/setting_provider.py
  src/front-end/src/components/SelectFilter.vue
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/videoDiscontinued.js
  src/front-end/src/store/modules/videoList.js
  src/front-end/src/views/Discontinue.vue
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#200 <#187> 확장페이지 및 종료예정작 페이지 버튼 전환
  src/front-end/src/views/Discontinue.vue
  src/front-end/src/views/Expand.vue
Labels: enhancement, front-end

#202 <#177> 모임 1순위 API - 모임 신청, 취소 구현
  src/back-end/web/applies/migrations/0002_alter_leaderapply_payment_alter_memberapply_payment.py
  src/back-end/web/applies/models.py
  src/back-end/web/applies/serializers.py
  src/back-end/web/applies/urls.py
  src/back-end/web/applies/views.py
  src/back-end/web/config/urls.py
  src/back-end/web/groups/serializers.py
  src/back-end/web/groups/urls.py
  src/back-end/web/groups/views.py
  src/back-end/web/payments/serializers.py
  src/back-end/web/users/serializers.py
Labels: enhancement, back-end

#201 <#199> 작품 API 추가 기능 구현, 개선
  src/back-end/web/videos/views/detail_views.py
  src/back-end/web/videos/views/home_views.py
Labels: enhancement, refactoring, back-end

#212 <#198> datetime format 통일
  src/back-end/web/applies/migrations/0003_alter_leaderapply_payment_alter_memberapply_payment.py
  src/back-end/web/applies/serializers.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/fellows/models.py
  src/back-end/web/group_accounts/models.py
  src/back-end/web/groups/models.py
  src/back-end/web/groups/serializers.py
  src/back-end/web/mileages/models.py
  src/back-end/web/notifications/models.py
  src/back-end/web/payments/models.py
  src/back-end/web/recent_views/models.py
  src/back-end/web/star_ratings/models.py
  src/back-end/web/users/models.py
  src/back-end/web/videos/views/detail_views.py
  src/back-end/web/watching_marks/models.py
  src/back-end/web/wishes/views.py
Labels: enhancement, back-end

#208 <#108> 모임 계정 ID/PW 변경 API 구현
  src/back-end/web/config/urls.py
  src/back-end/web/data.json
  src/back-end/web/group_accounts/exceptions.py
  src/back-end/web/group_accounts/models.py
  src/back-end/web/group_accounts/serializers.py
  src/back-end/web/group_accounts/urls.py
  src/back-end/web/group_accounts/views.py
  src/back-end/web/groups/exceptions.py
  src/back-end/web/groups/migrations/0004_alter_group_status.py
  src/back-end/web/groups/models.py
  src/back-end/web/groups/views.py
  src/back-end/web/providers/migrations/0001_initial.py
  src/back-end/web/providers/migrations/0003_subscriptiontype_duration_alter_charge_provider_and_more.py
  src/back-end/web/providers/migrations/0004_alter_charge_subscription_type.py
  src/back-end/web/providers/migrations/0005_alter_subscriptiontype_name.py
  src/back-end/web/providers/models.py
  src/back-end/web/users/views.py
Labels: enhancement, back-end

#210 <#209> 마이페이지 조회 API - 총 마일리지 추가
  src/back-end/web/mypages/schemas.py
  src/back-end/web/users/serializers.py
Labels: enhancement, back-end

#215 <#207> 상세 페이지 찜 기능 추가
  src/front-end/src/router/index.js
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/auth.js
  src/front-end/src/store/modules/videoDetails.js
  src/front-end/src/store/modules/videoInteractions.js
  src/front-end/src/store/modules/videoList.js
  src/front-end/src/styles/app.css
  src/front-end/src/views/Details.vue
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#214 <#203> 작품API - 내려가는 작품 API 구현
  src/back-end/web/config/urls.py
  src/back-end/web/data.json
  src/back-end/web/video_providers/schema.py
  src/back-end/web/video_providers/urls.py
  src/back-end/web/video_providers/views.py
Labels: enhancement, back-end

#218 <#206> 홈 페이지 필터링, 정렬 개선
  src/front-end/src/store/modules/videoList.js
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#225 <#221> link-milestone 액션 주석처리
  .github/workflows/pr-support.yml
Labels: fix, setting

#224 <#220> 알림 모달창 세부디자인 및 더미데이터 추가 작업
  src/front-end/src/components/GNB.vue
  src/front-end/src/components/modals/AlarmModal.vue
Labels: enhancement, front-end

#219 <#216> 작품 API - 상세페이지, 홈화면 API 개선
  src/back-end/web/requirements.txt
  src/back-end/web/videos/views/detail_views.py
  src/back-end/web/videos/views/home_views.py
Labels: enhancement, refactoring, back-end

#222 <#204> 마이페이지 사용자 정보, 모임 정보
  src/front-end/src/api/http.js
  src/front-end/src/components/userVideos.vue
  src/front-end/src/mocks/handlers/user.js
  src/front-end/src/store/modules/auth.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/store/modules/videoDetails.js
  src/front-end/src/views/Details.vue
  src/front-end/src/views/My.vue
Labels: enhancement, front-end

#228 <#227> 작품 API 홈화면 장르 필터링 404 에러 해결
  src/back-end/web/videos/views/home_views.py
Labels: back-end, fix

#211 <#105> 모임 상세 + Provider 목록 조회 API 구현
  src/back-end/web/applies/migrations/0004_alter_leaderapply_payment_alter_memberapply_payment.py
  src/back-end/web/applies/models.py
  src/back-end/web/applies/serializers.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/config/urls.py
  src/back-end/web/data.json
  src/back-end/web/fellows/migrations/0002_alter_fellow_payment.py
  src/back-end/web/fellows/models.py
  src/back-end/web/fellows/serializers.py
  src/back-end/web/groups/schemas.py
  src/back-end/web/groups/serializers.py
  src/back-end/web/groups/views.py
  src/back-end/web/mypages/schemas.py
  src/back-end/web/mypages/serializers.py
  src/back-end/web/providers/migrations/0006_alter_provider_name.py
  src/back-end/web/providers/migrations/0007_alter_provider_name.py
  src/back-end/web/providers/models.py
  src/back-end/web/providers/schemas.py
  src/back-end/web/providers/serializers.py
  src/back-end/web/providers/urls.py
  src/back-end/web/providers/views.py
  src/back-end/web/users/schemas.py
  src/back-end/web/users/serializers.py
  src/back-end/web/videos/serializers.py
Labels: enhancement, back-end

#229 <#223> 찜 API 개선
  src/back-end/web/config/exceptions/result.py
  src/back-end/web/config/settings/base.py
  src/back-end/web/mypages/pagination.py
  src/back-end/web/wishes/models.py
  src/back-end/web/wishes/serializers.py
  src/back-end/web/wishes/views.py
Labels: enhancement, back-end

#213 <#107> 마일리지 API 구현, 설계
  src/back-end/web/applies/migrations/0003_alter_leaderapply_payment_alter_memberapply_payment.py
  src/back-end/web/config/exceptions/input.py
  src/back-end/web/config/urls.py
  src/back-end/web/mileages/exceptions.py
  src/back-end/web/mileages/models.py
  src/back-end/web/mileages/schemas.py
  src/back-end/web/mileages/serializers.py
  src/back-end/web/mileages/urls.py
  src/back-end/web/mileages/views.py
  src/back-end/web/mypages/schemas.py
  src/back-end/web/users/models.py
  src/back-end/web/users/serializers.py
Labels: enhancement, back-end

#231 <#226> FE 홈 페이지, 상세 페이지 개선
  src/front-end/src/store/modules/videoList.js
  src/front-end/src/views/Details.vue
  src/front-end/src/views/Home.vue
Labels: front-end, refactoring

#240 <#239> 마이페이지 조회 - 찜한 작품 정렬 개선
  src/back-end/web/data.json
  src/back-end/web/mypages/serializers.py
  src/back-end/web/mypages/views.py
Labels: refactoring, back-end

#246 <#245> 작품 상세페이지 API 유사작품 리스트 추가
  src/back-end/web/videos/views/detail_views.py
Labels: enhancement, back-end

#250 <#244> 작품 API - 작품 홈 화면 API 정렬 조건 개선
  src/back-end/web/videos/views/home_views.py
Labels: enhancement, back-end

#251 <#234> 종료예정작 api 통신
  src/front-end/src/store/modules/videoDiscontinued.js
  src/front-end/src/styles/app.css
  src/front-end/src/views/Discontinue.vue
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#259 <#257> 회원가입페이지 세부디자인
  src/front-end/src/api/http.js
  src/front-end/src/components/UserVideos.vue
  src/front-end/src/components/modals/LoginModal.vue
  src/front-end/src/store/modules/auth.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/store/modules/videoDetails.js
  src/front-end/src/store/modules/videoExpands.js
  src/front-end/src/store/modules/videoInteractions.js
  src/front-end/src/views/My.vue
  src/front-end/src/views/Register.vue
Labels: enhancement, front-end

#243 <#109> 모임 신고 신청/취소 구현
  src/back-end/web/config/urls.py
  src/back-end/web/fellows/serializers.py
  src/back-end/web/reports/exceptions.py
  src/back-end/web/reports/urls.py
  src/back-end/web/reports/views.py
Labels: enhancement, back-end

#263 <#258> 마일리지 내역조회 모달 추가
  src/front-end/src/components/modals/MileageModal.vue
  src/front-end/src/mocks/handlers/index.js
  src/front-end/src/mocks/handlers/mileage.js
  src/front-end/src/mocks/handlers/user.js
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/mileage.js
  src/front-end/src/views/My.vue
Labels: enhancement, front-end

#268 <#261> 회원가입 api 통신
  src/front-end/src/components/GNB.vue
  src/front-end/src/mocks/handlers/oauth.js
  src/front-end/src/router/index.js
  src/front-end/src/store/modules/auth.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/styles/app.css
  src/front-end/src/views/My.vue
  src/front-end/src/views/Register.vue
Labels: enhancement, front-end, refactoring

#267 <#265> 작품 api - API 정렬 조건 문제 해결
  src/back-end/web/videos/urls.py
  src/back-end/web/videos/views/home_views.py
Labels: back-end, fix

#241 <#230> 모임 신청/취소 보완 + 매칭
  src/back-end/web/applies/admin.py
  src/back-end/web/applies/exceptions.py
  src/back-end/web/applies/migrations/0005_baseapply_remove_memberapply_payment_and_more.py
  src/back-end/web/applies/migrations/0006_baseapply_fellow_type.py
  src/back-end/web/applies/migrations/0007_groupapply_alter_baseapply_unique_together_and_more.py
  src/back-end/web/applies/migrations/0008_alter_groupapply_fellow_type.py
  src/back-end/web/applies/models.py
  src/back-end/web/applies/schemas.py
  src/back-end/web/applies/serializers.py
  src/back-end/web/applies/urls.py
  src/back-end/web/applies/views.py
  src/back-end/web/config/exceptions/input.py
  src/back-end/web/config/mixins.py
  src/back-end/web/data.json
  src/back-end/web/fellows/exceptions.py
  src/back-end/web/fellows/views.py
  src/back-end/web/groups/migrations/0005_alter_group_status.py
  src/back-end/web/groups/models.py
  src/back-end/web/groups/schemas.py
  src/back-end/web/groups/serializers.py
  src/back-end/web/groups/views.py
  src/back-end/web/mileages/views.py
  src/back-end/web/mypages/serializers.py
  src/back-end/web/mypages/views.py
  src/back-end/web/providers/exceptions.py
  src/back-end/web/providers/schemas.py
  src/back-end/web/providers/serializers.py
  src/back-end/web/providers/validators.py
  src/back-end/web/providers/views.py
Labels: enhancement, back-end

#270 <#269> 관람표시 관련 API 작업
  src/back-end/web/data.json
  src/back-end/web/mypages/pagination.py
  src/back-end/web/mypages/serializers.py
  src/back-end/web/mypages/views.py
  src/back-end/web/video_total_counts/views.py
  src/back-end/web/videos/schemas.py
  src/back-end/web/videos/urls.py
  src/back-end/web/videos/views/detail_views.py
  src/back-end/web/videos/views/home_views.py
  src/back-end/web/watching_marks/exceptions.py
  src/back-end/web/watching_marks/migrations/0002_alter_watchingmark_unique_together.py
  src/back-end/web/watching_marks/models.py
  src/back-end/web/watching_marks/schemas.py
  src/back-end/web/watching_marks/serializers.py
  src/back-end/web/watching_marks/urls.py
  src/back-end/web/watching_marks/views.py
  src/back-end/web/wishes/schemas.py
  src/back-end/web/wishes/serializers.py
Labels: enhancement, back-end

#275 <#273> 왓챠 로고 데이터 수정 및 크롤러 DB구조에 맞게 수정
  src/back-end/crawler/saving_DB.py
  src/back-end/crawler/setting_provider.py
  src/back-end/web/data.json
Labels: back-end, fix

#238 <#079> 모임 신청 api 통신
  src/front-end/src/components/modals/JoinFailModal.vue
  src/front-end/src/components/modals/JoinSuccessModal.vue
  src/front-end/src/components/modals/PaymentModal.vue
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/groups.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/views/Join.vue
  src/front-end/src/views/My.vue
Labels: enhancement, front-end

#276 <#262> 마이페이지 개선(401에러, 계정 수정)
  src/front-end/src/components/modals/InputAccount.vue
  src/front-end/src/store/modules/groups.js
  src/front-end/src/store/modules/mileage.js
  src/front-end/src/store/modules/user.js
  src/front-end/src/store/modules/videoExpands.js
  src/front-end/src/views/Expand.vue
  src/front-end/src/views/My.vue
Labels: enhancement, front-end, fix

#279 <#277> 관람 기록(본 작품) 기능 추가
  src/front-end/src/components/UserVideos.vue
  src/front-end/src/store/modules/user.js
  src/front-end/src/store/modules/videoExpands.js
  src/front-end/src/store/modules/videoInteractions.js
  src/front-end/src/views/Details.vue
  src/front-end/src/views/Expand.vue
  src/front-end/src/views/Home.vue
  src/front-end/src/views/My.vue
Labels: enhancement, front-end, refactoring

#281 <#262> 탈퇴 모달 추가 (+본 작품 텍스트 수정)
  src/front-end/src/components/modals/LeaveGroupModal.vue
  src/front-end/src/components/modals/LeaveGroupSuccess.vue
  src/front-end/src/views/Details.vue
  src/front-end/src/views/My.vue
Labels: enhancement, front-end, refactoring

#280 <#271> 최종 발표
  docs/final/README.md
  docs/index.md
Labels: documentation

#287 <#237> 홈화면 API response 통일
  src/back-end/web/videos/schemas.py
  src/back-end/web/videos/views/home_views.py
Labels: refactoring, back-end
