Repository kookmin-sw/capstone-2022-24, pull requests merged in 2022-03, with the labels that each got.

#3 <#001> gnb 디자인
  src/front-end/src/App.vue
  src/front-end/src/components/GNB.vue
Labels: enhancement, front-end

#5 <#004> footer 디자인
  src/front-end/src/App.vue
  src/front-end/src/components/GNB.vue
  src/front-end/src/components/ServiceFooter.vue
  src/front-end/src/i18n/locales/en.json
  src/front-end/src/i18n/locales/ko.json
Labels: enhancement, front-end

#6 <#003> 모임 신청(Join) 페이지 레이아웃 그리드
  src/front-end/src/router/index.js
  src/front-end/src/views/Join.vue
Labels: enhancement, front-end

#8 <#007> 모임 신청 페이지 디자인
  src/front-end/src/i18n/locales/en.json
  src/front-end/src/i18n/locales/ko.json
  src/front-end/src/router/index.js
  src/front-end/src/views/Join.vue
Labels: enhancement, front-end

#10 <#007> "refactor: 코드 포맷팅" 커밋 내용 삭제
  src/front-end/src/views/Join.vue
Labels: front-end

#12 <#009> 모달 디자인
  src/front-end/src/App.vue
  src/front-end/src/assets/naver-circle-logo.png
  src/front-end/src/components/GNB.vue
  src/front-end/src/components/modals/AfterLoginModal.vue
  src/front-end/src/components/modals/AlarmModal.vue
  src/front-end/src/components/modals/JoinFailModal.vue
  src/front-end/src/components/modals/JoinSuccessModal.vue
  src/front-end/src/components/modals/LoginModal.vue
  src/front-end/src/components/modals/MakeJoinModal.vue
  src/front-end/src/i18n/locales/en.json
  src/front-end/src/i18n/locales/ko.json
  src/front-end/src/styles/app.css
Labels: enhancement, front-end

#13 <#011> 홈 페이지 디자인
  src/front-end/src/App.vue
  src/front-end/src/components/GNB.vue
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#17 <#015> 종료 예정작 페이지 레이아웃 및 디자인
  src/front-end/src/router/index.js
  src/front-end/src/views/Discontinue.vue
  src/front-end/src/views/Home.vue
Labels: enhancement, front-end

#20 <#016> 작품 상세 페이지 레이아웃
  src/front-end/src/router/index.js
  src/front-end/src/views/Details.vue
Labels: enhancement, front-end

#21 <#016> 상세 페이지 디자인
  src/front-end/src/styles/app.css
  src/front-end/src/views/Details.vue
Labels: enhancement, front-end

#26 <#024> 내 정보 페이지 레이아웃 구현
  src/front-end/src/router/index.js
  src/front-end/src/styles/app.css
  src/front-end/src/views/My.vue
Labels: enhancement, front-end

#29 <#023> gnb, footer 라우팅
  src/front-end/src/assets/logo-bg.png
  src/front-end/src/assets/logo.png
  src/front-end/src/assets/logo.svg
  src/front-end/src/components/GNB.vue
  src/front-end/src/components/ServiceFooter.vue
  src/front-end/src/components/modals/LoginModal.vue
  src/front-end/src/router/index.js
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/auth.js
  src/front-end/src/styles/app.css
  src/front-end/src/views/About.vue
  src/front-end/src/views/My.vue
  src/front-end/src/views/NotFound.vue
  src/front-end/src/views/footer/Center.vue
  src/front-end/src/views/footer/Introduction.vue
  src/front-end/src/views/footer/PrivacyPolicy.vue
  src/front-end/src/views/footer/Questions.vue
  src/front-end/src/views/footer/Tos.vue
Labels: enhancement, front-end

#31 <#023> 동적 라우팅
  src/front-end/.eslintrc.js
  src/front-end/src/components/GNB.vue
  src/front-end/src/components/ServiceFooter.vue
  src/front-end/src/router/index.js
  src/front-end/src/store/modules/auth.js
  src/front-end/src/views/My.vue
  src/front-end/src/views/NotFound.vue
  src/front-end/src/views/footer/Center.vue
  src/front-end/src/views/footer/Introduction.vue
  src/front-end/src/views/footer/PrivacyPolicy.vue
  src/front-end/src/views/footer/Questions.vue
  src/front-end/src/views/footer/Tos.vue
  src/front-end/tests/e2e/.eslintrc.js
Labels: enhancement, front-end

#33 <#032> mock 데이터 사용 환경 설정
  src/front-end/package-lock.json
  src/front-end/package.json
  src/front-end/public/mockServiceWorker.js
  src/front-end/src/api/http.js
  src/front-end/src/main.js
  src/front-end/src/mocks/browser.js
  src/front-end/src/mocks/handlers/index.js
  src/front-end/src/mocks/handlers/msg.js
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/mockTest.js
Labels: front-end, setting

#36 <#027> 사용자 상호작용 작품 전체보기 페이지 레이아웃 구현
  package-lock.json
  src/front-end/src/router/index.js
  src/front-end/src/views/Expand.vue
  src/front-end/src/views/footer/Expand.vue
Labels: enhancement, front-end

#41 <#039> 소셜 로그인 토큰 요청
  src/front-end/.eslintrc.js
  src/front-end/package.json
  src/front-end/public/index.html
  src/front-end/src/assets/logo-bg.png
  src/front-end/src/assets/logo.png
  src/front-end/src/assets/service_icon.svg
  src/front-end/src/assets/service_logo.svg
  src/front-end/src/components/GNB.vue
  src/front-end/src/components/modals/LoginModal.vue
  src/front-end/src/i18n/locales/en.json
  src/front-end/src/i18n/locales/ko.json
  src/front-end/src/mocks/handlers/index.js
  src/front-end/src/mocks/handlers/msg.js
  src/front-end/src/mocks/handlers/socialLogin.js
  src/front-end/src/router/index.js
  src/front-end/src/store/index.js
  src/front-end/src/store/modules/auth.js
  src/front-end/src/store/modules/mockTest.js
  src/front-end/src/views/Expand.vue
Labels: enhancement, front-end

#49 <#042> pre-commit 적용
  src/front-end/.husky/_/.gitignore
  src/front-end/.husky/pre-commit
  src/front-end/package-lock.json
  src/front-end/package.json
Labels: front-end, setting

#48 <#046> 테스트 환경 CI 변경
  .github/workflows/dev-be-api-ci.yml
  .github/workflows/dev-fe-ci.yml
  .github/workflows/prod-be-api-ci.yml
  src/back-end/web/config/settings/development.py
  src/back-end/web/config/settings/local.py
  src/back-end/web/config/settings/production.py
  src/back-end/web/config/storages.py
  src/front-end/.husky/_/.gitignore
  src/front-end/package-lock.json
  src/front-end/package.json
Labels: front-end, back-end, fix

#50 <#042> pre-commit 개선
  src/front-end/.husky/pre-commit
  src/front-end/package.json
Labels: front-end, setting

#45 <#030> 테스트 환경 변경
  src/front-end/.eslintrc.js
  src/front-end/.husky/_/husky.sh
  src/front-end/jest.config.js
  src/front-end/package-lock.json
  src/front-end/package.json
  src/front-end/src/components/GNB.vue
  src/front-end/tests/e2e/specs/test.js
  src/front-end/tests/unit/example.spec.js
  src/front-end/tests/unit/gnb.spec.js
Labels: front-end, setting

#63 <#052> 결제 Model 및 Serializer 작성
  src/back-end/web/payments/migrations/0001_initial.py
  src/back-end/web/payments/models.py
  src/back-end/web/payments/serializers.py
Labels: enhancement, back-end
